
<h1>Ingresa el producto a agregar en formato objeto</h1>
<form id="addProduct">
    <label for="product">{Nuevo Producto}</label>
    <textarea id="product" name="product" required></textarea>

    <button type="submit">Agregar</button>
</form>

<div>
    <h1>Ingresa el id del producto a eliminar y oprima enter</h1>
    <input id="textbox">
</div>

<div id="products">

</div> 


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>